@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: pointer;
}
// header{
//     background-color: aquamarine;
// }
// .container{
//     background-color: rgb(255, 131, 131);
// }
// footer{
//     background-color: rgb(240, 247, 101);
// }
p {
  color: #555;
}
a {
  color: #555;
  text-decoration: none;
}
.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 35px;
  transition:0.5;
  &:hover {
    background: rgb(205, 140, 12);
  }
}
.header {
  background: radial-gradient(#fff, rgb(127, 210, 255));
  .row {
    margin-top: 50px;
  }
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  nav {
    flex: 1;
    text-align: right;
    ul {
      display: inline-block;
      list-style: none;
      li {
        display: inline-block;
        margin-right: 20px;
        a {
          text-decoration: none;
          color: #555;
          border-radius: 20px;
          padding: 6px 15px;
          &:hover {
            background: #ff523b;
            color: #fff;
          }
        }
        &:hover{           
        transform: translateY(-5px);
        }
      }
    }   
  }
  
  .cart{
    // margin: 70px auto 80px;
    position: relative;
    border-radius: 20px;
    padding: 3px 7px;
    cursor: pointer;
    // line-height: 60px;
    // background: #555;
    .amount {
      content: "";
      color: #fff;
      text-align: center;
      align-items: center;
      background-color: #ff523b;
      width: 30px;
      height: 20px;
    //   border-style: solid;
    //   border-color: #ff523b;
      border-radius: 5px;     
      position: absolute;
      top: 0;
      left: 100%;        
      transform: translateX(-50%);
      
    }
    &:hover {
        background: #ff523b;
        color: #555;
        transform: translateY(-5px);
      }
  }
  .menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
    border: solid #555;
    border-radius: 5px;
    }
}
    // ----------media query for menu-----------
    @media only screen and (max-width:800px){
        .row{
            text-align: center;
            
        .col-2,.col-3,.col-4{
            flex-basis: 90%;
        }
        }
        .col-2,.col-3,.col-4,.col-6{
            flex-basis: 90%;
            video{
                width: 400px;
                height: 300px;
            }
        }
        .navbar {
            nav {
                ul{
                position: absolute;
                top: 70px;
                left: 0;
                background: #333;
                width: 100%;               
                margin-top: 20px;
                overflow: hidden;
                transition: 0.5;
                    li{
                        display: block;
                        margin-right: 50px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        a{
                            color: #fff;
                        }
                    }
                }
            }
            .menu-icon{
                display: block;
                cursor: pointer;
            }
        }
    }
        // ----------media query for less than 600px screen size-----------
        @media only screen and (max-width:600px){
        
            .row{
                text-align: center;
                
            .col-2,.col-3,.col-4{
                flex-basis: 90%;
            }
            }
            .col-2,.col-3,.col-4,.col-6{
                flex-basis: 90%;
                video{
                    width: 400px;
                    height: 300px;
                }
            }
        }
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  .col-2 {
    flex-basis: 50%;
    min-width: 300px;
    img {
      max-width: 100%;
      padding: 50px 0;
    }
    h1 {
      font-size: 50px;
      line-height: 60px;
      margin: 25px 0;
    }
  }
}
.categories {
  margin: 70px 0;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
  img {
    width: 100%;
  }
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 0 25px;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  max-width: 200px;
  margin-bottom: 50px;
  transform: 0.5s;
  img {
    width: 100%;
    cursor: pointer;
  }
  h4 {
    color: #555;
    font-weight: normal;
  }
  p {
    font-size: 14px;
  }
  .rating .fas {
    font-size: 12px;
    color: #ff523b;
  }
  &:hover {
    transform: translateY(-5px);
  }
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
  &::after {
    content: "";
    background-color: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

// -------------offer------------
.offer {
  background: radial-gradient(#fff, rgb(127, 210, 255));
  margin-top: 80px;
  padding: 30px 0;
  img {
    padding: 50px;
  }
  small {
    color: #555;
  }
}


// ----------teatimonial--------------
.testimonial{
    padding-top: 100px;
    .small-container{
        .row{
            .col-3{
                text-align: center;
                padding: 40px 20px;
                // border: solid  #ff523b;
                border-radius: 30px;
                cursor: pointer;
                box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
                transform: 0.5;
                .rating .fas {
                    font-size: 12px;
                    color: #ff523b;
                }
                .fa-quote-left{
                    font-size: 20px;
                }
                img{
                    width: 50px;
                    margin-top: 20px;
                    border-radius: 50%;
                }
                &:hover{
                    transform: translateY(-10px);
                }
                p{
                    font-size: 12px;
                    margin: 12px 0;
                    color: #777;
                }
                h3{
                    font-weight: 600;
                    color: #555;
                    font-size: 18px;
                }
            }
        }
    }
}
// ----------------brands------------------
.brands{
    margin: 50px auto;
    .small-container{
        .row{
            .col-4{
                width: 160px;
                img{
                    width: 100%;
                    cursor: pointer;
                    filter: grayscale(100%);
                    &:hover{
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
}
// --------------footer--------------------
.footer{
    background-color: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    p{
        color: #8a8a8a;
    }
    h3{
        color: #fff;
        margin-bottom: 20px;
    }
    .footer-col-1,
    .footer-col-2,
    .footer-col-3,
    .footer-col-4{
        min-width: 250px;
        margin-bottom: 20px;       
        img{
            width: 100px;
            margin-bottom: 20px;
        }
    }
    .footer-col-1{
        flex-basis: 30%;
        .app-logo{
            margin-top: 20px;
            img{
                width: 100px;
            }
        }
    }
    .footer-col-2{
        flex:1;
        text-align: center;
    }
    .footer-col-3,.footer-col-4{
        flex-basis: 12%;
        text-align: center;
        ul{
            li{
                list-style: none;
            }
        }
    }
}